.confirmModal {
  color: var(--colorBlack);

  &__title {
    font-size: 2rem;
    color: #000;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.btn--isGreenLightIcon {
  color: var(--colorSuccess) !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.btn--isRedIcon {
  color: var(--colorDismiss) !important;
}
