.swiper {
  width: 100%;
  height: 300px;
  
  &-wrapper {
    /* stylelint-disable-next-line selector-class-pattern */
    .swiper-slide {
      background-color: #156219;
      font-size: 3rem;
    }
  }
}
